*{
    margin: 0%;
    padding: 0%;
    
}
#bcimage{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(4, 106, 207, 0.267)),  url(./images/photo-1487017159836-4e23ece2e4cf.avif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.text {
    text-align: center;
    padding-top: 160px;
    color: white;
   
}
.text h1{
    font-size: 4em;
    font-family: 'Cantata One', serif;
    font-family: 'Dancing Script', cursive;
}

.text p{
    margin: 10px;

    font-size: 1.5em;
    font-family: sans-serif ;
}
.button{
    margin: 60px auto;
}
.button > a {
    width: 140px;

    height: auto;
    display: inline-block;
    text-decoration: none;

    margin: 5px 20px;
    padding: 10px 1px;
    border: white 1px solid;
color: rgb(233, 231, 231);
position: relative;
transition: color 0.5s;

}
.button > a span{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 10%;
background-color: rgb(255, 253, 253);
    transition:  0.5s ;
    position: absolute;


}
.button a:hover span {
    width: 100%;
}

#navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -250px;
    transition: 0.5s;
    background: rgb(27, 33, 39);
    z-index: 2;
}
#navbar ul li {
    list-style: none;
    margin: 80px 25px;
    

}
#navbar ul li a {
    text-decoration: none;
    color: white;
}
#mb{
    position: fixed;
    text-align: center;
    cursor: pointer;
    top: 10px;
    right: 2%;

}
#mb img{
    width: 30px;
    margin-top: 10px;
}
@media  screen and (max-width : 770px) {
            .text h1 {
                font-size: 2em;
            }
            .button > a{
                display: block;
                margin: 20px auto;
            }
        }

       


        .title{
            text-align: center;
            padding-bottom: 60px;
        }
.title h4{
    margin: 20px;
    color: rgba(10, 15, 150, 0.885);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    transition: 2s ;


}


.material > h1{

    margin-left: 600px;

}  
.material > h2{

    margin-left: 200px;
    margin-bottom: 2px;

}
.material > h3{
    margin-left: 1010px;
    font-size: 25px;
    display: inline;
    margin-bottom: 50px;
}  
.material > img {
    width: 280px;
    height: 200px;
    margin-left: 40px;
    margin-top: 40px;
    animation-name: hammad ;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease-in-out;
} 
@keyframes hammad {
0%{
    top: 0px;
    left: 0px;
}   
25%{
    top: 20px;
} 
50%{
    top: 50px;
    left: 510px;
}
75%{
    top: 10px;
    left: 650px;
}
100%{
top: 0px;
left: 950px;
}
}
.material >  h1 ,h2 ,h3{
    color: midnightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media  screen and (max-width:770px ) {
    .material  h1{
        margin-left: 240px;


    }
    .material>h2{
        margin-left: 240px;
    }
    .material > h3{
        margin-left:240px;
    }
    .material > img{

        animation: none;
        margin-left: 180px;
    }

    
}



  
    

 